<html xmlns:c="http://www.w3.org/1999/XSL/Transform" xmlns:th="http://www.w3.org/1999/xhtml">
    <body class="text-center">
        <main class="form-signin w-100 m-auto">
            <form th:action="@{/login}" method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <!--    <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
                <h1 class="h1 mb-3 fw-normal">Вход на сайт</h1>
                <p class="mb-3 fw-normal">Пожалуйста, введите имя пользователя и пароль</p>
                <div th:if="${not #lists.isEmpty(errorMessage)}" class="form-floating alert alert-danger p-1" role="alert" th:text="${errorMessage}">
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control input-head" id="username" placeholder="имя пользователя" name="username" oninput="checkPasswords()">
                    <label for="username">Имя пользователя</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control input-footer" id="password" placeholder="пароль" name="password" oninput="checkPasswords()">
                    <label for="password">Пароль</label>
                </div>

                <br />

                <div class="checkbox mb-3">
                    <label>
                        <a th:href="@{/reg}"> Регистрация</a>
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit" id="submit">Войти</button>
            </form>
        </main>
    </body>
</html>